body {
  background-color: #FF00FF;
  font-family: 'Comic Sans MS', cursive;
  color: #FFFF00;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #00FF00;
  padding: 5px;
  text-align: left;
}

a {
  color: #FF0000;
  text-decoration: blink;
  margin: 0 5px;
  font-size: 12px;
}

h1 {
  font-family: 'Courier New', monospace;
  text-align: right;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }

  50% {
    transform: translate(-1px, -1px);
  }
}